@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --ff-body: "Poppins", sans-serif;

  --fs-regular: 1.6rem;

  --clr-orange: orange;
  --clr-blue-neutral: rgb(84, 84, 129);
  --clr-blue-dark: rgb(6, 6, 124);
}
